[submodule "multi_core"]
	path = multi_core
	url = git@github.com:zinhart/multi_core.git
[submodule "bmp"]
	path = bmp
	url = git@github.com:zinhart/bmp.git
[submodule "token_parser"]
	path = token_parser
	url = git@github.com:zinhart/token_parser.git
